# Executables
01_pointers
02_dynamic_memory
03_structure
04_stack
05_queue
06_circular_queue
07_multiple_stacks_queues
08_doubly_linked_list
09_singly_linked_list
10_tree_traversals
11_bst
12_static_hashing
